<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">




    <!-- 添加spring自动注入支持 @Autowired -->
    <context:annotation-config/>
    <mvc:annotation-driven/>

    <!--配置bean的扫包路径-->
    <context:component-scan base-package="com.*"/>

    <!-- 引入其它spring配置文件 -->
    <!--<import resource="classpath*:applicationContext-dao.xml"/>-->

    <!--开启aop-->
    <aop:aspectj-autoproxy/>

    <!-- FreeMarker视图解析 如返回userinfo。。在这里配置后缀名ftl和视图解析器。。 -->
    <!--<bean id="viewResolver"-->
          <!--class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">-->
        <!--<property name="viewClass"-->
                  <!--value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>-->
        <!--<property name="suffix" value=".ftl"/>-->
        <!--<property name="contentType" value="text/html;charset=UTF-8"/>-->
        <!--<property name="exposeRequestAttributes" value="true"/>-->
        <!--<property name="exposeSessionAttributes" value="true"/>-->
        <!--<property name="exposeSpringMacroHelpers" value="true"/>-->
        <!--<property name="requestContextAttribute" value="rc"/>-->
    <!--</bean>-->

</beans>